<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a href="/" class="navbar-brand">
        <img src="{{ '/static/images/logo.jpg' | prepend: site.baseurl }}">
      </a> -->
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      {% assign page_lang = page.lang | default: site.default_lang %}
      <ul class="nav navbar-nav">
        {% if page_lang == 'en' %}
        <li><a href="{{ '/en/' | prepend: site.baseurl }}">Overview</a></li>
        <li><a href="{{ '/en/syllabus/' | prepend: site.baseurl }}">Syllabus</a></li>
        <li><a href="{{ '/en/lectures/' | prepend: site.baseurl }}">Lectures</a></li>
        <li><a href="{{ '/en/schedule/' | prepend: site.baseurl }}">Schedule</a></li>
        <li><a href="{{ '/en/references/' | prepend: site.baseurl }}">References</a></li>
        <li><a href="{{ '/en/assignments/' | prepend: site.baseurl }}">Assignments</a></li>
        {% else %}
        <li>
          <a href="{{ '/' | prepend: site.baseurl }}">课程简介</a>
        </li>
        <li>
          <a href="{{ '/2019/02/08/intro/' | prepend: site.baseurl }}">教学大纲</a>
        </li>
        <li>
          <a href="{{ '/slides/' | prepend: site.baseurl }}">授课讲义</a>
        </li>
        <li>
          <a href="{{ '/schedule/' | prepend: site.baseurl }}">计划安排</a>
        </li>
        <li>
          <a href="{{ '/books/' | prepend: site.baseurl }}">参考文献</a>
        </li>
        <li>
          <a href="{{ '/assignments/' | prepend: site.baseurl }}">实验内容</a>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          {% if page.translation_url %}
            {% if page_lang == 'en' %}
              <a href="{{ page.translation_url | prepend: site.baseurl }}" lang="zh-CN" hreflang="zh-CN">中文</a>
            {% else %}
              <a href="{{ page.translation_url | prepend: site.baseurl }}" lang="en" hreflang="en">English</a>
            {% endif %}
          {% elsif page_lang == 'en' %}
            <a href="{{ '/' | prepend: site.baseurl }}" lang="zh-CN" hreflang="zh-CN">中文</a>
          {% else %}
            <a href="{{ '/en/' | prepend: site.baseurl }}" lang="en" hreflang="en">English</a>
          {% endif %}
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if page_lang == 'en' %}About{% else %}关于{% endif %}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a rel="nofollow" target="_blank" href="{{site.github}}">Github</a></li>
            <li><a rel="nofollow" target="_blank" href="{{site.resume_site}}">{% if page_lang == 'en' %}Instructor{% else %}关于作者{% endif %}</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
